.footerContainer{
	background-color: black;
	display: flex;
    color: white;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	height: 300%;
	box-sizing: border-box
}

.footerColumn{
	padding: 16px 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
    font-size: 1rem;
}

.footerColumn div{
  margin-top: 5px;
}

.footerColumn a{
  text-decoration: none;
  color: white;
}


.cart h2 {
	max-width: 50%;
}


 @media screen and (max-width: 450px) {
	.footerContainer {
		max-width: 121%;
		width: 121%;
	}
}

@media screen and (max-width: 390px) {
	.footerContainer {
		max-width: 127%;
		width: 127%;
	}
}


@media screen and (max-width: 350px) {
	.footerContainer {
		max-width: 155%;
		width: 152%;
	}
}
 


