.container{
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url('https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/74494a8887791.560e69eda2f70.JPG');
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.content{
   height: calc(100vh - 80px);
   max-height: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.contentItems{

	display: flex;
    width: clamp(100%,650,100%);
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	margin-left: 50px;
	margin-top: 100px;
	align-items: flex-start;
	padding: 1rem 3rem;
	width: 700px;
	color:white;
}


@media screen and (max-width: 650px) {
  .contentItems{
  width: 100%;

  }
}
.navHead{
	font-size: clamp(1rem, 3rem, 5rem);
	margin-bottom: 2rem;
	letter-spacing: 3px;
	line-height: 1;
}

p{
	/* font-size: clamp(2rem, 2.5vw, 3rem); */
	font-size: clamp(1rem, 1.2rem, 1.4rem);
	/* font-size: clamp(0.5rem, 1.2rem, 2rem); */
	/* font-size: 1rem; */
	margin-bottom: 2rem;
	line-height: 1.3;
  font-family: 'Open Sans', sans-serif;
}

.btn{
	font-size: 1.8rem;
	padding: 1rem 2rem;
	border:solid 5px white;
	color: white;
	transition: 0.2s ease-out;
	margin-bottom: 10px;
	border-radius: 5px;
}

.btn:hover {
	    border:solid 5px white;
		transition: 0.2s ease-out;
		cursor: pointer;
		transform: scale(1.05)
}


@media screen and (max-width: 800px) {

	.content {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.contentItems {
		align-items: center;
	}
	
	.contentItems h1 {
		font-size: 8vw;
		width: 250px;
	}

	.contentItems p {
		width: 250px;
		font-size: 4.5vw;
	}

	.btn {
		font-size: 5vw;
		max-width: 150px;
	}
} 

@media screen and (max-width: 500px) {
	.content {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

}

@media screen and (max-width: 450px) {
	.container{
		width: 121%;
	}
}

@media screen and (max-width: 390px) {
	.container{
		width: 127%;
	}
}

@media screen and (max-width: 350px) {
	.container{
		width: 15%;
	}
}